body {
  background-color: #3b5260;
}
main {
  text-align: center;
  margin: 0 auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-jost: 'Jost';
  --font-sen: 'Sen';
}
